<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.WebsiteTypeMapper">
    <insert id="addWebsiteType" useGeneratedKey="true" keyProperty="id" parameterType="com.example.demo.pojo.WebsiteType">
         insert into `website_type`(`name`,`status`,`user_id`) values(#{name},#{status},#{userId})
    </insert>

    <delete id="deleteWebsiteTypeById">
         delete from `website_type` where id=#{id}
    </delete>

    <update id="updateWebsiteType" parameterType="com.example.demo.pojo.WebsiteType">
        update `website_type`
        <set>
            <if test="name!=null">
               `name`=#{name},
            </if>
            <if test="status!=null">
               `status`=#{status},
            </if>
            <if test="userId!=null">
               `user_id`=#{userId},
            </if>
        </set>
        where id=#{id}
    </update>


    <select id="getWebsiteTypeById" resultType="com.example.demo.pojo.WebsiteType" >
        select * from `website_type` where `id`=#{id}
    </select>


    <sql id="exampleClause">
        <foreach collection="leftJoinList" item="joinInfo">
            left join ${joinInfo.rightTable} on ${joinInfo.leftTable}.${joinInfo.leftKey}=${joinInfo.rightTable}.${joinInfo.rightKey}
        </foreach>
        <where>
            <foreach collection="orCriterionList" item="criterionList" separator="or">
                <trim prefix="(" prefixOverrides="and" suffix=")">
                    <foreach collection="criterionList" item="criterion">
                        and ${criterion.table}.${criterion.field}
                        <choose>
                            <when test="criterion.valueType=='noValue'">
                                ${criterion.condition}
                            </when>
                            <when test="criterion.valueType=='singleValue'">
                                ${criterion.condition} #{criterion.value}
                            </when>
                            <when test="criterion.valueType=='betweenValue'">
                                ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                            </when>
                            <when test="criterion.valueType=='listValue'">
                                ${criterion.condition}
                                <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                    #{listItem}
                                </foreach>
                            </when>
                        </choose>
                    </foreach>
                </trim>
            </foreach>
        </where>
        <if test="orderBy!=null">
            order by ${orderBy.table}.${orderBy.field} ${orderBy.condition}
        </if>
        <if test="limitStart!=null">
            limit #{limitStart}
            <if test="limitNum!=null">
                ,#{limitNum}
            </if>
        </if>
    </sql>

    <select id="getWebsiteTypeListByExample" parameterType="io.github.lhcyh.lhmybatis.Example"  resultType="com.example.demo.pojo.WebsiteType" >
        select * from `website_type`
        <include refid="exampleClause"></include>
    </select>

</mapper>
